/* ----------------------------- promo ---------------------------------*/

.promo {

   &__container {

   }

   &__body {
      display: flex;
      align-items: center;
      @media (max-width: $tablet){
         flex-direction: column;
      }
   }

   &__info {

      width: 60%;
      padding-right: rem(40);
      @media (max-width: $tablet){
         width: 100%;
         text-align: center;
         padding: 0 0 40px 0;
      }
   }

   &__title {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         left: 0px;
         bottom: -10px;
         width: 268px;
         height: 24px;
         z-index: -1;
         background-image: url(../img/promo/underline.svg);
         background-repeat: no-repeat;
      }

   }

   &__sub-title {
      padding: rem(20) 0;
   }

   &__txt {

   }

   &__img {
      position: relative;
   }

   &__image {
      max-width: 100%;
   }

   &__skils {

   }

   &__tel {
      left: rem(10);
      top: rem(30);
      background: rgba(255, 255, 255, 0.9);
      @include adaptiveValue("padding", 20, 15);
      @include adaptiveValue("font-size", 26, 22);
      font-weight: 900;
      border-radius: 20px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
      display: inline-flex;
      align-items: center;
      transition: color 0.3s ease 0s;
      position: absolute;
      &::before {
         margin-right: rem(20);
      }
      @media (any-hover: hover) {
         &:hover {
            color: $darkBlueColor;
         }
      }
   }

   &__slogan {
      font-style: italic;
      right: rem(10);
      bottom: rem(30);
      background: rgba(255, 255, 255, 0.9);
      @include adaptiveValue("padding", 20, 15);
      @include adaptiveValue("font-size", 20, 16);
      font-weight: 900;
      border-radius: 20px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
      display: inline-flex;
      align-items: center;
      transition: color 0.3s ease 0s;
      position: absolute;
   }
}

.skils {
   display: flex;
   justify-content: space-between;
   gap: rem(10);
   @media (max-width: $mobile){
         flex-wrap: wrap;
      }
   &__item{
      width: rem(200);
      //height: rem(170);
      padding: rem(20) rem(5);
      //border: 2px solid $blueColor;
      border-radius: rem(20);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
      text-align: center;
      @media (max-width: $mobile){
         width: 100%;
      }
   }

   &__value {
      @include adaptiveValue("font-size", 30, 20);
      padding-bottom: rem(15);
      font-weight: 700;
      color: $blueColor;
      border-bottom: 1px solid $blueColor;

   }

   &__txt {
      @include adaptiveValue("font-size", 18, 14);
      font-weight: 600;
      padding-top: 15px;
   }
}

/* ----------------------------- / promo ---------------------------------*/


/* ----------------------------- ready ---------------------------------*/

.ready{

   &__container {
   }

   &__title {
      padding-bottom: rem(20);
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
      gap: rem(32);
      @media (max-width: $mobile){
         //grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
         gap: rem(25);
      }
   }
}

.item-ready img {
   border-radius: rem(20) rem(20) 0 0;
}

.item-ready{
   //background: $lightGrayColor;
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   border-radius: rem(20);
   transition: all 0.3s ease 0s;
   @media (any-hover: hover){
      &:hover{
         transform: scale(1.05);
      }
   }
   

   &__image {
      padding-bottom: math.div(200px, 300px) * 100%;
   }

   &__body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding: rem(16);
   }

   &__content {
      flex: 1 1 auto;
   }

   &__title {
      color: #000;
      //padding-bottom: rem(0);
   }

   &__feature {
      line-height: 120%;
      font-weight: 600;
      color: $grayColor;
      font-size: rem(14);
   }

   &__square {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $blueColor;
      border-radius: rem(10);
      padding: rem(2) rem(5);
      margin: rem(2) rem(0);
   }

   &__floors {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $blueColor;
      border-radius: rem(10);
      padding: rem(2) rem(5);
      margin: rem(2) rem(0);
   }

   &__rooms {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $blueColor;
      border-radius: rem(10);
      padding: rem(2) rem(5);
      margin: rem(2) rem(0);
   }

   &__name {

   }

   &__value {

   }

   &__price {
      font-size: rem(20);
      display: flex;
      justify-content: flex-end;
      padding-top: rem(10);
      font-weight: 600;
   }
}

/* ----------------------------- / ready ---------------------------------*/


/* ----------------------------- example ---------------------------------*/

.example {

   &__container {
      @media (min-width: $tablet){
         display: flex;
      }
   }

   &__body {
      flex: 0 0 rem(500);
      position: relative;
      z-index: 5;
      align-self: center;
      @media (min-width: $tablet){
         @include adaptiveValue("padding-right", 50, 20);
      }
      @media (max-width: $tablet){
         text-align: center;
      }
      @media (max-width: $mobileSmall){
         text-align: center;
         margin: 0 15px;
      }
   }

   &__title {
      @include adaptiveValue("font-size", 40, 30);
      font-weight: 900;
      line-height: 120%;
   }

   &__sub-title {
      //color: $darkGrayColor;
      font-size: rem(22);
      
      font-weight: 700;
      padding: rem(8) 0;
      & span {
         font-size: rem(20);
         color: $blueColor;
         @media (any-hover: hover){
            &:hover{
               //box-shadow: 0 0 22px rgba(37, 37, 37, 0.7);
               //color: #000;
               text-decoration: underline
            }
         }
      }
   }

   &__price {
      display: inline-block;
      border: 2px solid $blueColor;
      border-radius: rem(10);
      padding: rem(15);
      margin-top: rem(10);
      font-size: rem(24);
      font-weight: 700;
      @media (max-width: $tablet){
         margin-bottom: rem(20);
      }
   }

   &__tel {
      font-size: rem(24);
      font-weight: 600;
      @media (any-hover: hover){
            &:hover{
               //box-shadow: 0 0 22px rgba(37, 37, 37, 0.7);
               color: $blueColor;
            }
         }
   }

   &__btn {
      margin-top: rem(10);
      & a {
         width: 100%;
      }
      @media (max-width:$tablet){
         margin-bottom: rem(30);
      }
   }

   &__slider {
      flex: 1 1 auto;
      min-width: 0;
      align-self: flex-start;
   }
   @media (max-width: $mobileSmall){
      margin: 0 -15px;
   }
}

.slider-example {
   position: relative;
   &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100vw;
      left: 0;
      background-color: $bgColor;
      z-index: 2;
      transform: translate(-100%, 0);
   }

   &__wrapper {
   }

   &__slide {
      border-radius: rem(20);
      width: rem(360);
      position: relative;
      overflow: hidden;
      max-height: rem(500);
      &.swiper-slide-active {
         .swiper-slide__img {
            padding-bottom: 100%;
         }
      }
      @media (max-width: $mobileSmall){
         width: 100%;
      }
   }
}

.swiper-slide {

   &__img {
      // transition: padding-bottom 0.6s ease 0s;
      padding-bottom: 100%;
      @media (min-width: $mobile){
         padding-bottom: 83%;
      }
   }

   &__content {
      position: absolute;
      color: inherit;
      max-width: 300px;
      @include adaptiveValue("left", 20, 15);
      @include adaptiveValue("bottom", 20, 15);
      @include adaptiveValue("padding", 20, 15);
      background-color: rgba(255, 255, 255, 0.9);
      &::before {
         position: absolute;
         bottom: 0;
         right: 0;
         transform: translate(100%, 0);
         width: rem(48);
         height: rem(48);
         background-color: $blueColor;
         color: #fff;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }

   &__title {
      font-weight: 700;

   }

   &__price {
      font-weight: 700;
      padding-top: rem(10);
   }
}

.controls-slider {

   &__dotts {
      @media (min-width: $mobile){
         position: absolute;
         bottom: rem(10);
         width: 100%;
         left: rem(396);
      }
      @media (max-width: $mobile){
         justify-content: center;
         padding-top: rem(20);
      }
   }

   &__arrows {
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: calc(100% - 48px);
      left: 24px;
      z-index: 5;
      justify-content: space-between;
      @media (min-width: $pc){
         width: calc(100% + 48px);
         left: -24px;
      }
   }
}
.slider-arrows {
   pointer-events: auto;
}
.slider-arrow {

   &_prew {
   }

   &_next {
   }
}

/* ----------------------------- / example ---------------------------------*/

/* ___________________________________________________________________________*/
/* ----------------------------- foundation ---------------------------------*/

.foundation {
   @include adaptiveValue("font-size", 18, 16);
   line-height: 140%;
   & h3 {
      @include adaptiveValue("padding-top",30 , 20);
      @include adaptiveValue("padding-bottom",15 , 10);
   }
   & li {
      list-style-type: disc;
      margin-left: rem(40);
   }
   & p {
      padding: 5px 0 5px 0px;
   }

   &__tel {
      background: rgba(255, 255, 255, 0.9);
      @include adaptiveValue("padding", 20, 15);
      @include adaptiveValue("font-size", 26, 22);
      font-weight: 900;
      border-radius: 20px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
      display: inline-flex;
      align-items: center;
      transition: color 0.3s ease 0s;
      &::before {
         margin-right: rem(20);
      }
      @media (any-hover: hover) {
         &:hover {
            color: $darkBlueColor;
         }
      }
   }
}
/* ----------------------------- /foundation ---------------------------------*/

/* ___________________________________________________________________________*/
/* ----------------------------- roofing ---------------------------------*/

.roofing {
   @include adaptiveValue("font-size", 18, 16);
   line-height: 140%;
   & h3 {
      @include adaptiveValue("padding-top",30 , 20);
      @include adaptiveValue("padding-bottom",15 , 10);
   }
   & li {
      list-style-type: disc;
      margin-left: rem(40);
   }
   & p {
      padding: 5px 0 5px 0px;
   }

   &__tel {
      background: rgba(255, 255, 255, 0.9);
      @include adaptiveValue("padding", 20, 15);
      @include adaptiveValue("font-size", 26, 22);
      font-weight: 900;
      border-radius: 20px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
      display: inline-flex;
      align-items: center;
      transition: color 0.3s ease 0s;
      &::before {
         margin-right: rem(20);
      }
      @media (any-hover: hover) {
         &:hover {
            color: $darkBlueColor;
         }
      }
   }
}

/* ----------------------------- /roofing ---------------------------------*/

/* ___________________________________________________________________________*/
/* ----------------------------- repair ---------------------------------*/

.repair {
   @include adaptiveValue("font-size", 18, 16);
   line-height: 140%;
   & h3 {
      @include adaptiveValue("padding-top",30 , 20);
      @include adaptiveValue("padding-bottom",15 , 10);
   }
   & li {
      list-style-type: disc;
      margin-left: rem(40);
   }
   & p {
      padding: 5px 0 5px 0px;
   }

   &__tel {
      background: rgba(255, 255, 255, 0.9);
      @include adaptiveValue("padding", 20, 15);
      @include adaptiveValue("font-size", 26, 22);
      font-weight: 900;
      border-radius: 20px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
      display: inline-flex;
      align-items: center;
      transition: color 0.3s ease 0s;
      &::before {
         margin-right: rem(20);
      }
      @media (any-hover: hover) {
         &:hover {
            color: $darkBlueColor;
         }
      }
   }
}

/* ----------------------------- /repair ---------------------------------*/

/* ___________________________________________________________________________*/
/* ----------------------------- design ---------------------------------*/

.design {
   @include adaptiveValue("font-size", 18, 16);
   line-height: 140%;
   & h3 {
      @include adaptiveValue("padding-top",30 , 20);
      @include adaptiveValue("padding-bottom",15 , 10);
   }
   & li {
      list-style-type: disc;
      margin-left: rem(40);
   }
   & p {
      padding: 5px 0 5px 0px;
   }

   &__tel {
      background: rgba(255, 255, 255, 0.9);
      @include adaptiveValue("padding", 20, 15);
      @include adaptiveValue("font-size", 26, 22);
      font-weight: 900;
      border-radius: 20px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
      display: inline-flex;
      align-items: center;
      transition: color 0.3s ease 0s;
      &::before {
         margin-right: rem(20);
      }
      @media (any-hover: hover) {
         &:hover {
            color: $darkBlueColor;
         }
      }
   }
}

/* ----------------------------- /design ---------------------------------*/

/* ___________________________________________________________________________*/
/* ----------------------------- fence ---------------------------------*/

.fence {
   @include adaptiveValue("font-size", 18, 16);
   line-height: 140%;
   & h3 {
      @include adaptiveValue("padding-top",30 , 20);
      @include adaptiveValue("padding-bottom",15 , 10);
   }
   & li {
      list-style-type: disc;
      margin-left: rem(40);
   }
   & p {
      padding: 5px 0 5px 0px;
   }

   &__tel {
      background: rgba(255, 255, 255, 0.9);
      @include adaptiveValue("padding", 20, 15);
      @include adaptiveValue("font-size", 26, 22);
      font-weight: 900;
      border-radius: 20px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
      display: inline-flex;
      align-items: center;
      transition: color 0.3s ease 0s;
      &::before {
         margin-right: rem(20);
      }
      @media (any-hover: hover) {
         &:hover {
            color: $darkBlueColor;
         }
      }
   }
}

/* ----------------------------- /fence ---------------------------------*/

/* ___________________________________________________________________________*/
/* ----------------------------- project ---------------------------------*/

.project {
   @include adaptiveValue("font-size", 18, 16);
   line-height: 140%;
   & h3 {
      @include adaptiveValue("padding-top",30 , 20);
      @include adaptiveValue("padding-bottom",15 , 10);
   }
   & li {
      list-style-type: disc;
      margin-left: rem(40);
   }
   & p {
      padding: 5px 0 5px 0px;
   }

   &__tel {
      background: rgba(255, 255, 255, 0.9);
      @include adaptiveValue("padding", 20, 15);
      @include adaptiveValue("font-size", 26, 22);
      font-weight: 900;
      border-radius: 20px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
      display: inline-flex;
      align-items: center;
      transition: color 0.3s ease 0s;
      &::before {
         margin-right: rem(20);
      }
      @media (any-hover: hover) {
         &:hover {
            color: $darkBlueColor;
         }
      }
   }
}

/* ----------------------------- /project ---------------------------------*/

/* ___________________________________________________________________________*/
/* ----------------------------- roads ---------------------------------*/

.roads {
   @include adaptiveValue("font-size", 18, 16);
   line-height: 140%;
   & h3 {
      @include adaptiveValue("padding-top",30 , 20);
      @include adaptiveValue("padding-bottom",15 , 10);
   }
   & li {
      list-style-type: disc;
      margin-left: rem(40);
   }
   & p {
      padding: 5px 0 5px 0px;
   }

   &__tel {
      background: rgba(255, 255, 255, 0.9);
      @include adaptiveValue("padding", 20, 15);
      @include adaptiveValue("font-size", 26, 22);
      font-weight: 900;
      border-radius: 20px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
      display: inline-flex;
      align-items: center;
      transition: color 0.3s ease 0s;
      &::before {
         margin-right: rem(20);
      }
      @media (any-hover: hover) {
         &:hover {
            color: $darkBlueColor;
         }
      }
   }
}

/* ----------------------------- /roads ---------------------------------*/